<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <title>About us</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="main-content">

        {{>header}}
        <img class="portrait" src="/web-server/public/img/me.png">
    </div>    

        {{>footer}}

</body>
</html>
