<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <title>About us</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="main-content">

        {{>header}}
        <p>Este sitio esta hecho por Frenky Valles. Y usa datos de mapbox.com y darksky.net</p>
        <img class="portrait" src="/img/me.png">
    </div>    

        {{>footer}}

</body>
</html>
