<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <title>Help page</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="main-content">
        {{>header}}

        <p>En caso de no poder conectarse mandanos un mensaje</p>
        <p>{{contacto}}</p>
    </div>
        {{>footer}}
</body>
</html>