<!DOCTYPE html>
<html>

<head>
    <title>Weather App</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    
</head>

<body>
    <div class="main-content">
      {{>header}}
    
      <p>En este sitio puedes saber la temperatura de tu ciudad</p>
    
      <div>
        <form>
        <input placeholder="Location">
        <button>Seach</button>
        </form>
      </div>
        <p id="message-1"></p>
        <P id="message-2"></P>

    </div>
    

     {{>footer}}

     <script src="/js/app.js" ></script>
</body>
   
</html>